<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration> 
    <typeAliases>
        <typeAlias alias="Finance" type ="qeqs.homefinances.domain.Finance" />
        <typeAlias alias="Type" type ="qeqs.homefinances.domain.Type" />
    </typeAliases>
    <mappers>        
        <mapper resource="qeqs/homefinances/mapper/FinanceMapper.xml"/>
        <mapper resource="qeqs/homefinances/mapper/TypeMapper.xml"/>
    </mappers> 
</configuration>
