<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qeqs.homefinances.mapper.TypeMapper">

    <cache />
  
    
    <resultMap type="Type" id="TypeMap" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="financeList" javaType="List" ofType="Finance" select="selectFinances" column="id">    
        </collection>
    </resultMap>
    
    <resultMap type="Finance" id="FinanceMap" autoMapping="true">
        <id property="id" column="id"/>
        <association property="financeType" javaType="Type" column="type" select="selectOne">       
        </association>
    </resultMap>


    <select id="selectFinances" resultMap="FinanceMap" resultType="List">
        SELECT * from public."Finance" WHERE type = #{id}
    </select>

    <select id="selectOne" resultMap="TypeMap" resultType="Type">
        SELECT id, name FROM public."Type" WHERE id = #{id}
    </select>
    
    <select id="selectAll" resultMap="TypeMap" resultType="List">
        SELECT * FROM public."Type"
    </select>

    <update id="update" parameterType="Type">
        UPDATE public."Type" SET 
        name=#{name} 
        WHERE id =#{id}
    </update>

    <insert id="insert" parameterType="Type" useGeneratedKeys="true">
        INSERT into public."Type"(name) 
        VALUES(#{name})
    </insert>
  
    <delete id="delete" parameterType="Integer">
        DELETE FROM public."Type" WHERE id =#{id}
    </delete>

</mapper>